<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mib.db.mybatis.mapper.DocumentMapper">

    <resultMap id="docResult" type="org.mib.db.model.Document">
        <id property="id" column="id" />
        <result property="projectId" column="project_id" />
        <result property="folderId" column="folder_id" />
        <result property="name" column="name" />
        <result property="createdAt" column="created_at" />
        <result property="strProp1" column="prop1" />
        <result property="strProp2" column="prop2" />
        <result property="strProp3" column="prop3" />
        <result property="strProp4" column="prop4" />
        <result property="intProp5" column="prop5" />
        <result property="intProp6" column="prop6" />
        <result property="intProp7" column="prop7" />
        <result property="intProp8" column="prop8" />
        <result property="intProp9" column="prop9" />
    </resultMap>

    <select id="getDocument" resultMap="docResult">
        select * from document where id = #{id}
    </select>

    <select id="countOfDocuments" resultType="java.lang.Long">
        select count(id) from document
        <where>
            <if test="params.params != null">
                <foreach collection="params.params" open=" and " separator=" and " item="item" index="index">
                    ${index} = #{item}
                </foreach>
            </if>
            <if test="params.name != null">and name like concat('%', #{params.name}, '%')</if>
        </where>
    </select>

    <select id="listDocuments" resultMap="docResult">
        select * from document
        <where>
            <if test="params.params != null">
                <foreach collection="params.params" open=" and " separator=" and " item="item" index="index">
                    ${index} = #{item}
                </foreach>
            </if>
            <if test="params.name != null">and name like concat('%', #{params.name}, '%')</if>
        </where>
        <if test="params.orderBy != null and params.ordering != null">
            order by ${params.orderBy} ${params.ordering}
        </if>
        limit #{params.limit} offset #{params.offset}
    </select>

    <update id="updateDocument">
        update document
        <set>
            <if test="document.name != null">name=#{document.name},</if>
            <if test="document.strProp1 != null">prop1=#{document.strProp1},</if>
            <if test="document.strProp2 != null">prop2=#{document.strProp2},</if>
            <if test="document.strProp3 != null">prop3=#{document.strProp3},</if>
            <if test="document.strProp4 != null">prop4=#{document.strProp4},</if>
            <if test="document.intProp5 != null">prop5=#{document.intProp5},</if>
            <if test="document.intProp6 != null">prop6=#{document.intProp6},</if>
            <if test="document.intProp7 != null">prop7=#{document.intProp7},</if>
            <if test="document.intProp8 != null">prop8=#{document.intProp8},</if>
            <if test="document.intProp9 != null">prop9=#{document.intProp9},</if>
        </set>
        where id=#{document.id}
    </update>

    <delete id="deleteDocuments">
        delete from document where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item" index="index">
            #{item}
        </foreach>
    </delete>

</mapper>