<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mib.db.mybatis.mapper.TagMapper">

    <resultMap id="tagResult" type="org.mib.db.model.Tag">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <select id="getTag" resultMap="tagResult">
        select * from tag where id = #{id}
    </select>

    <select id="countOfTags" resultType="java.lang.Long">
        select count(id) from tag
        <where>
            <if test="params.params != null">
                <foreach collection="params.params" open=" and " separator=" and " item="item" index="index">
                    ${index} = #{item}
                </foreach>
            </if>
            <if test="params.name != null">and name like concat('%', #{params.name}, '%')</if>
        </where>
    </select>

    <select id="listTags" resultMap="tagResult">
        select * from tag
        <where>
            <if test="params.params != null">
                <foreach collection="params.params" open=" and " separator=" and " item="item" index="index">
                    ${index} = #{item}
                </foreach>
            </if>
            <if test="params.name != null">and name like concat('%', #{params.name}, '%')</if>
        </where>
        <if test="params.orderBy != null and params.ordering != null">
            order by ${params.orderBy} ${params.ordering}
        </if>
        limit #{params.limit} offset #{params.offset}
    </select>

    <update id="updateTag">
        update tag
        <set>
            <if test="tag.name != null">name=#{tag.name},</if>
            <if test="tag.description != null">description=#{tag.description},</if>
        </set>
        where id=#{tag.id}
    </update>

    <delete id="deleteTags">
        delete from tag where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item" index="index">
            #{item}
        </foreach>
    </delete>

</mapper>