<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mib.db.mybatis.mapper.VersionTagMapper">

    <resultMap id="versionResult" type="org.mib.db.model.Version">
        <id property="id" column="id" />
        <result property="projectId" column="project_id" />
        <result property="folderId" column="folder_id" />
        <result property="documentId" column="document_id" />
        <result property="version" column="version" />
        <result property="createdAt" column="created_at" />
        <result property="strProp1" column="prop1" />
        <result property="strProp2" column="prop2" />
        <result property="strProp3" column="prop3" />
        <result property="strProp4" column="prop4" />
        <result property="strProp5" column="prop5" />
        <result property="strProp6" column="prop6" />
        <result property="intProp7" column="prop7" />
        <result property="intProp8" column="prop8" />
        <result property="intProp9" column="prop9" />
        <result property="intProp10" column="prop10" />
        <result property="intProp11" column="prop11" />
        <result property="intProp12" column="prop12" />
        <result property="intProp13" column="prop13" />
        <result property="intProp14" column="prop14" />
    </resultMap>

    <resultMap id="tagResult" type="org.mib.db.model.Tag">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <select id="countOfTaggedVersions" resultType="java.lang.Long">
        select count(version_id) from version_tag where tag_id = #{tagId}
    </select>

    <select id="listVersionsByTag" resultMap="versionResult">
        select v.* from version v, version_tag vt where vt.tag_id = #{tagId} and v.id = vt.version_id limit #{limit} offset #{offset}
    </select>

    <select id="countOfVersionTags" resultType="java.lang.Long">
        select count(tag_id) from version_tag where version_id = #{version_id}
    </select>

    <select id="listTagsByVersion" resultMap="tagResult">
        select t.* from tag t, version_tag vt where vt.version_id = #{versionId} and vt.tag_id = t.id limit #{limit} offset #{offset}
    </select>

    <delete id="deleteVersionTag">
        delete from version_tag where version_id = #{versionId} and tag_id = #{tagId}
    </delete>

    <delete id="deleteTag">
        delete from version_tag where tag_id = #{tagId}
    </delete>

</mapper>